.features {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.features__wrapper {
  background-color: $theme-color;

  text-align: center;
  color: #ffffff;
  padding: 38px 20px;

  @media (min-width: $tablet-width) {
    flex-basis: 33.4%;

    padding: 15px 44px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &--bg-triangle {
    position: relative;
    padding-top: 76px;

    @media (min-width: $tablet-width) {
      padding-top: 0;
    }

    &::before {
      position: absolute;
      content: "";
      width: 320px;
      height: 37px;
      background-image: url("../img/bg-triangle.svg");
      background-repeat: no-repeat;
      top: -1px;
      transform: translate(-50%);

      @media (min-width: $tablet-width) {
        content: none;
      }
    }
  }
}

.features__picture-wrapper {
  @media (min-width: $tablet-width) {
    flex-basis: 66.6%;
  }
}

.features__img {
  width: 100%;
  display: block;
}

.features__text {
  line-height: 21px;
}

.features__title {
  margin: 0;
  margin-bottom: 6px;
  
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-top: 17px;
  }
}

.features__serial-number {
  display: block;
  line-height: 26px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
  }
}

.features__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.features__column-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;

    margin-bottom: 63px;
  }

  &--reverse {
    @media (min-width: $tablet-width) {
      flex-direction: row-reverse;

      margin-bottom: 0;
    }
  }
}
