.features--bot-margin {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }
}

.features__wrapper {
  background-color: $theme-color;

  text-align: center;
  color: #ffffff;
  padding: 45px 20px;

  &--bg-triangle {
    position: relative;
    padding-top: 80px;

    &::before {
      position: absolute;
      content: "";
      width: 320px;
      height: 37px;
      background-image: url("../img/bg-triangle.svg");
      background-repeat: no-repeat;
      top: -1px;
      transform: translate(-50%);

      @media (min-width: $tablet-width) {
        content: none;
      }
    }
  }

  @media (min-width: $tablet-width) {
    flex-basis: 33.4%;

    padding: 31px 44px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.features__picture-wrapper {
  @media (min-width: $tablet-width) {
    flex-basis: 66.6%;
  }
}

.features__img {
  width: 100%;
  display: block;
}

.features__text {
  line-height: 21px;
}

.features__title {
  margin: 0;
  margin-bottom: 20px;

  line-height: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
    padding: 0 9px;
  }
}

.features__serial-number {
  display: block;
  margin-bottom: 20px;
}

.features__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.features {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.features__column-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;

    margin-bottom: 63px;
  }

  &--reverse {
    @media (min-width: $tablet-width) {
      flex-direction: row-reverse;

      margin-bottom: 0;
    }
  }
}

// @media (min-width: $tablet-width) {
//   .features {
//     display: flex;
//     flex-direction: column;
//   }
//
//   .features__column-wrapper {
//     display: flex;
//   }
//
//   .features__wrapper--bg-triangle {
//     &::before {
//       content: none;
//     }
//   }
//
//   .features__list {
//     display: flex;
//   }
//
//   .features__column-wrapper--reverse {
//     flex-direction: row-reverse;
//   }
// }
