.form {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 60px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
    margin-bottom: 68px;
  }
}

.form__fieldset-wrapper {
  border-top: 1px solid #f2f2f2;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-top: none;
  }

  &--sight {
    flex-basis: 100%;
  }

  &--contacts {
    flex-basis: 100%;

    @media (min-width: $tablet-width) {
      margin-top: 43px;
      margin-bottom: 25px;
    }
  }

  &--order {
    @media (min-width: $tablet-width) {
      order: -1;
      border-right: 1px solid #f2f2f2;
      padding-right: 51px;
      flex-basis: 50%;
    }
  }

  &--no-border {
    border-top: none;
    margin-top: 51px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: $tablet-width) {
      margin-top: 58px;
    }
  }
}

.form__fieldset {
  @include reset-fieldset;

  margin-top: 18px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.form__legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
    font-size: 21px;
  }

  &--introduce {
    @media (min-width: $tablet-width) {
      text-align: left;
    }
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      margin-bottom: 25px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 72px;
    }
  }
}

.form__legend-checkbox {
  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }
}

.form__legend-textarea {
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.form__list {
  @include reset-list;

  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    justify-content: space-between;
  }

  &--sight {
    margin-bottom: 31px;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media (min-width: $desktop-width) {
      justify-content: space-between;
    }
  }
}

.form__list-radio {
  margin-bottom: 27px;
  display: flex;
  flex-wrap: wrap;
}

.form__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.form__radio-item {
  &:not(:last-child) {
    margin-bottom: 11px;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }
  }
}

.form__input-text {
  color: #333333;
  margin-right: 15px;
  display: block;

  &--contacts {
    margin-left: 21px;
    margin-bottom: 8px;

    @media (min-width: $desktop-width) {
      margin: 0;
      margin-right: 16px;
    }
  }
}

.form__label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  &--contacts {
    flex-direction: column;
    align-items: baseline;
    position: relative;

    @media (min-width: $tablet-width) {
      align-items: flex-start;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row;
      align-items: center;
    }

    &::after {
      position: absolute;
      content: "";
      width: 58px;
      height: 58px;

      bottom: 0;
      right: 0;
      background-color: #e6e6e6;
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1;
    }
  }

  &--mail {
    &::after {
      background-image: url("../img/icon-mail.svg");
    }
  }
}

.form__input {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  outline: transparent;
  width: 100%;

  border: 0;
  background-color: #f2f2f2;

  padding: 16px 20px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    box-shadow: inset 0 0 0 4px #d5d5d5;
    background-color: #ffffff;
  }

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
  }

  &--contacts {
    padding-right: 58px;
    width: 100%;
  }
}

.form__input-text--checkbox,
.form__input-text--radio {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-transform: none;
  margin: 0;
}

.form__input-text--radio {
  margin-left: 79px;
}

.form__input-text--checkbox {
  margin-left: 78px;
}

.form__radio {
  padding: 16px 0;
}

.form__input[type="radio"] + .form__radio-indicator {
  position: absolute;
  content: "";
  width: 56px;
  height: 56px;
  top: 52%;
  left: 0;
  transform: translateY(-50%);
  background-color: #f2f2f2;
  border-radius: 50%;

  @media (min-width: $desktop-width) {
    left: 4px;
  }
}

.form__input[type="radio"]:checked + .form__radio-indicator::before {
  position: absolute;
  content: "";
  width: 21px;
  height: 21px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333333;
  border-radius: 50%;
}

.form__input[type="radio"]:hover + .form__radio-indicator,
.form__input[type="radio"]:focus + .form__radio-indicator {
  background-color: #e5e5e5;
}

.form__input[type="radio"]:active + .form__radio-indicator {
  background-color: #d5d5d5;
}

.form__input[type="radio"]:active + .form__radio-indicator::before {
  opacity: 0.3;
}

.form__checkbox-item {
  padding: 10px 0;

  @media (min-width: $tablet-width) {
    min-width: 200px;
  }

  @media (min-width: $desktop-width) {
    min-width: auto;
  }

  &:not(:last-child) {
    margin-bottom: 34px;

    @media (min-width: $tablet-width) {
      margin-bottom: 42px;
    }
  }

  &--sight {
    &:nth-child(2n+1) {
      margin-right: 74px;

      @media (min-width: $tablet-width) {
        margin-right: 58px;
      }

      @media (min-width: $desktop-width) {
        margin-right: 0;
      }
    }
  }
}

.form__input[type="checkbox"] + .form__checkbox-indicator {
  position: absolute;
  content: "";
  width: 55px;
  height: 55px;
  top: 55%;
  left: 0;
  transform: translateY(-50%);
  background-color: #f2f2f2;
  border-radius: 5px;
}

.form__input[type="checkbox"]:checked + .form__checkbox-indicator::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/icon-tick.svg");
}

.form__input[type="checkbox"]:hover + .form__checkbox-indicator,
.form__input[type="checkbox"]:focus + .form__checkbox-indicator {
  background-color: #e5e5e5;
}

.form__input[type="checkbox"]:active + .form__checkbox-indicator {
  background-color: #d5d5d5;
}

.form__input[type="checkbox"]:active + .form__checkbox-indicator::before {
  opacity: 0.3;
}

.form__info-text {
  display: none;
  color: #333333;

  @media (min-width: $tablet-width) {
    display: block;
    line-height: 26px;
  }
}

.form__textarea {
  min-height: 160px;
  resize: none;
}

.form__fieldset-wrapper--textarea {
  flex-basis: 100%;
}

.form__button {
  @media (min-width: $tablet-width) {
    margin: 0;
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
  }
}

.form__fieldset-wrapper--introduce {
  @media (min-width: $tablet-width) {
    flex-basis: 50%;
    padding-left: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 79px;
  }
}

.form__legend-decoline {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }


  &::before,
  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      width: 50px;
      height: 1px;
      background-color: #e6e6e6;
      flex-grow: 1;
    }
  }

  &::before {
    @media (min-width: $tablet-width) {
      margin-right: 50px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      margin-left: 50px;
    }
  }
}

.form__list-contacts {
  margin-bottom: 28px;

  @media (min-width: $desktop-width) {
    margin-bottom: 4px;
    display: flex;
    flex-wrap: wrap;
  }
}

.form__item-contacts {
  @media (min-width: $desktop-width) {
    flex-basis: 50%;
  }

  &:first-child {
    margin-bottom: 13px;

    @media (min-width: $tablet-width) {
      margin-bottom: 24px;
    }
  }

  &:nth-child(2n+1) {
    @media (min-width: $desktop-width) {
      padding-right: 79px;
    }
  }
}

.form__text-hide {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.form__input-text-width {
  min-width: 150px;
}
