.gallery__list {
  @include reset-list;

  &:last-child {
    border-bottom: 1px solid #d6d6d6;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;

    &:last-child {
      border: 0;
    }
  }
}

.gallery__item {
  border-top: 1px solid #d6d6d6;
  padding: 22px 20px;

  @media (min-width: $tablet-width) {
    border: 0;
    padding: 0;
  }

  &--first-item {
    @media (min-width: $tablet-width) {
      flex-basis: 100%;
    }
  }
}

.gallery {
  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }
}

.gallery__link {
  display: block;
}

.gallery__img {
  width: 100%;
  display: block;
}

.gallery__title {
  margin: 0;
}

.gallery__author {
  display: block;
  text-transform: none;

  margin-bottom: 19px;
}

.gallery__like-number {
  position: relative;
  font-weight: 700;
  padding-left: 37px;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    width: 23px;
    height: 21px;
    background-image: url("../img/icon-like.svg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
  }
}

.gallery__text-wrapper {
  @media (min-width: $tablet-width) {
    background-color: #f2f2f2;

    padding: 21px 20px;
  }
}
