.gallery__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}


.gallery__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  &:last-child {
    border-bottom: 1px solid #d6d6d6;

    @media (min-width: $tablet-width) {
      border: 0;
    }
  }
}

.gallery__item {
  border-top: 1px solid #d6d6d6;
  padding: 0 20px;
  padding-top: 22px;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    border: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }

  &:first-child {
    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }

  &:not(:first-child) {
    @media (min-width: $tablet-width) {
      width: 50%;
    }

    @media (min-width: $desktop-width) {
      width: 33.3%;
    }
  }
}

.gallery__like-wrapper {
  display: flex;
}

.gallery__link {
  display: block;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.gallery__img {
  width: 100%;
  display: block;
}

.gallery__title {
  margin: 0;
  font-size: 14px;
}

.gallery__author {
  display: block;
  text-transform: none;

  margin-bottom: 8px;

  color: #333333;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;

    color: #ffffff;
  }
}

.gallery__like-number {
  position: relative;
  font-weight: 700;
  padding-left: 14px;

  @media (min-width: $tablet-width) {
    padding-left: 10px;
    padding-bottom: 3px;
  }

  &--padding {
    padding-right: 9px;
  }

  &--s-padding {
    padding-right: 16px;
  }
}

.gallery__like-icon {
  opacity: 0.3;

  @media (min-width: $desktop-width) {
    opacity: 1;
    fill: #ffffff;
  }
}

.gallery__text-wrapper {
  @media (min-width: $tablet-width) {
    background-color: #f2f2f2;
    padding: 14px 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 20px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
  }
}
