.gallery {
  margin-bottom: 39px;

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.gallery__list {
  @include reset-list;

  &:last-child {
    border-bottom: 1px solid #d6d6d6;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;

    &:last-child {
      border: 0;
    }
  }
}

.gallery__item {
  border-top: 1px solid #d6d6d6;
  padding: 22px 20px;

  @media (min-width: $tablet-width) {
    border: 0;
    padding: 0;

    &:first-child {
      width: 100%;
    }

    &:not(:first-child) {
      width: 50%;
    }
  }

  @media (min-width: $desktop-width) {
    &:not(:first-child) {
      width: 33.3%;
    }
  }
}

.gallery__like-wrapper {
  display: flex;
}

.gallery__link {
  display: block;
}

.gallery__img {
  width: 100%;
  display: block;
}

.gallery__title {
  margin: 0;
}

.gallery__author {
  display: block;
  text-transform: none;

  margin-bottom: 19px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.gallery__like-number {
  position: relative;
  font-weight: 700;
  padding-left: 14px;
}

.gallery__like-icon {
  opacity: 0.3;

  @media (min-width: $desktop-width) {
    opacity: 1;
    fill: #ffffff;
  }
}

.gallery__text-wrapper {
  @media (min-width: $tablet-width) {
    background-color: #f2f2f2;
    padding: 21px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 20px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: -80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
  }
}
