.main-footer__wrapper {
  text-align: center;
  padding: 0 20px;
  padding-top: 41px;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;

    padding-top: 36px;
  }
}

.main-footer__invite-text {
  display: block;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
