.main-nav__logo-link {
  position: relative;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    justify-content: space-around;
  }

  .main-nav__logo-link {
    order: -1;
  }
}
