.main-footer {
  margin-top: 41px;
}

.main-footer__wrapper {
  text-align: center;
}

.main-footer__invite-text {
  display: block;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;

  padding-bottom: 41px;
}
