.main-footer__wrapper {
  text-align: center;
  padding: 0 20px;
  padding-top: 41px;


  @media (min-width: $tablet-width) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;

    padding: 36px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    padding: 36px 120px;

  }
}

.main-footer__invite-text {
  display: block;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.main-footer__copyright-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;

  &:hover,
  &:focus {
    .main-footer__copyright-img {
      fill: $theme-color;
    }
  }

  &:active {
    .main-footer__copyright-img {
      fill: #000000;
      opacity: 0.3;
    }
  }
}

.main-footer__copyright-img {
  display: block;

  margin-left: 11px;
}
