.reservation__wrapper {
  text-align: center;
  margin-bottom: 49px;
  padding: 0 20px;
  padding-top: 33px;

  @media (min-width: $tablet-width) {
    padding: 0 155px;
    padding-top: 57px;
    margin-bottom: 58px;
  }
}

.reservation__title {
  margin: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.reservation__text {
  margin: 0;

  color: #333333;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }
}

.reservation__link {
  background-color: $theme-color;
  display: block;

  padding: 16px 0;
  min-height: 58px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;

  &:hover,
  &:focus {
    background-color: $hover-color;
  }

  &:active {
    background-color: $onclick-color;
    color: rgba(255, 255, 255, 0.3);
  }
}

.reservation__map-img {
  width: 100%;
  display: block;
}
