.site-list {
  @include reset-list;

  background-color: $theme-color;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;

    background-color: transparent;
    font-size: 14px;
  }
}

.site-list__item {
  box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2);

  @media (min-width: $tablet-width) {
    width: 20%;

    box-shadow: none;
  }

  &:nth-child(3) {
    @media (min-width: $tablet-width) {
      margin-left: 20%;
    }
  }

  @media (max-width: $mobile-width-only) {
    &:hover,
    &:focus {
      background-color: $hover-color;
    }

    &:active {
      background-color: $onclick-color;

      .site-list__link {
        color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}

.site-list__link {
  display: block;
  padding: 15px;

  color: #ffffff;

  @media (min-width: $tablet-width) {
    min-width: 153px;

    color: #000000;

    &:hover,
    &:focus {
      color: $theme-color;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 239px;
  }
}

.site-list__link--active {
  @media (min-width: $tablet-width) {
    color: $active-link-color;

    &:hover,
    &:focus {
      color: $active-link-hover-color;
    }

    &:active {
      color: rgba(118, 99, 87, 0.3);
    }
  }
}
