.site-list {
  @include reset-list;

  background-color: $theme-color;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;

    background-color: transparent;
    font-size: 14px;
  }
}

.site-list__item {
  box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2);

  @media (min-width: $tablet-width) {
    width: 20%;

    box-shadow: none;
  }

  &:nth-child(3) {
    @media (min-width: $tablet-width) {
      margin-left: 20%;
    }
  }
}

.site-list__link {
  display: block;
  padding: 15px;

  color: #ffffff;

  @media (min-width: $tablet-width) {
    min-width: 153px;

    color: #000000;
  }

  @media (min-width: $desktop-width) {
    min-width: 239px;
  }
}
