.social {
  @include reset-list;

  display: flex;
  justify-content: center;

  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.social__item {
  background-color: $theme-color;

  &:not(:last-child) {
    margin-right: 6px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 46px;
  min-height: 48px;
}
