.social {
  @include reset-list;

  display: flex;
  justify-content: center;

  margin-bottom: 40px;
}

.social__item {
  background-color: $theme-color;

  &:not(:last-child) {
    margin-right: 6px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 46px;
  min-height: 48px;
}

.social__copyright-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.social__copyright-img {
  display: block;

  margin-left: 11px;
}
