.social {
  @include reset-list;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.social__item {
  background-color: $theme-color;
  margin-bottom: 6px;

  &:not(:last-child) {
    margin-right: 6px;
  }

  &:hover,
  &:focus {
    background-color: $hover-color;
  }

  &:active {
    background-color: $onclick-color;

    .social__img {
      opacity: 0.3;
    }
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 46px;
  min-height: 48px;
}
