.video {
  text-align: center;

  margin-bottom: 40px;

  @media (min-width: $desktop-width) {
    margin-bottom: 85px;
  }
}

.video__text-wrapper {
  padding: 0 20px;
}

.video__wrapper {
  padding-top: 33px;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
    padding-top: 66px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 200px;
    padding-top: 72px;
  }
}

.video__title {
  margin: 0;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.video__text {
  margin: 0;
  margin-top: 26px;
  margin-bottom: 35px;
  padding: 0 5px;
  color: #333333;

  @media (min-width: $tablet-width) {
    padding: 0 84px;
    margin-top: 31px;
    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 163px;
    margin-bottom: 69px;
  }
}

.video__img {
  width: 100%;
  display: block;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }
}

.video__controls-wrapper {
  @media (min-width: $tablet-width) {
    margin: 0 60px;
    min-height: 93px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 200px;
  }
}

.video__range-control-wrapper {
  display: block;
  min-height: 45px;
  margin: 0 20px;
  margin-top: -45px;

  background-color: #000000;
  opacity: 0.6;

  @media (min-width: $tablet-width) {
    min-height: 93px;

    margin: 0;
    margin-top: -93px;
  }
}

.video__range-control {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto;

  top: 22px;
  width: 84%;
  height: 3px;

  @media (min-width: $tablet-width) {
    top: 45px;
    width: 60.4%;
    right: 5.5%;
  }

  @media (min-width: $desktop-width) {
    width: 67.4%;
    right: 4.8%;
  }
}

.video__range-button {
  @include reset-button;

  position: absolute;
  top: -3px;
  left: 15.3%;

  width: 9px;
  height: 9px;
  background-color: #ffffff;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: -3px;
    left: 29%;
  }

  @media (min-width: $desktop-width) {
    left: 21%;
  }
}

.video__control-toggles-wrapper {
  min-height: 66px;
  margin: 0 20px;
  padding: 0 7.5%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #ededed;

  @media (min-width: $tablet-width) {
    margin: 0;

    background-color: transparent;
    margin-top: -79px;
    padding: 0 36px;
    padding-right: 42px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 34px;
    padding-right: 43px;
  }
}

.video__control-button {
  @include reset-button;

  margin-top: 6px;
}

.video__button-margin {
  margin-left: 45%;

  @media (min-width: $tablet-width) {
    margin-left: 78%;
  }

  @media (min-width: $desktop-width) {
    margin-left: 82%;
  }
}

.video__button-icon {
  @media (max-width: $mobile-width-only) {
    fill: #5c6870;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 1;

    fill: #ffffff;
  }
}

.video__control-button:hover .video__button-icon,
.video__control-button:focus .video__button-icon,
.video__range-button {
  cursor: pointer;
}

.video__control-button:hover .video__button-icon,
.video__control-button:focus .video__button-icon {
  @media (max-width: $mobile-width-only) {
    fill: #333333;
  }

  @media (min-width: $tablet-width) {
    fill: rgba(255, 255, 255, 0.6);
  }
}

.video__control-button:active .video__button-icon {
  opacity: 0.3;
}
