.video {
  text-align: center;

  margin-bottom: 40px;
}

.video__text-wrapper {
  padding: 0 20px;
}

.video__wrapper {
  padding-top: 39px;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
    padding-top: 68px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 200px;
    padding-top: 72px;
  }
}

.video__title {
  margin: 0;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.video__text {
  margin: 40px 0;
  padding: 0 5px;
  color: #333333;

  @media (min-width: $tablet-width) {
    padding: 0 165px;
  }
}

.video__img {
  width: 100%;
  display: block;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }
}

.video__controls-wrapper {
  @media (min-width: $tablet-width) {
    margin: 0 60px;
    min-height: 93px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 200px;
  }
}

.video__range-control-wrapper {
  display: block;
  min-height: 45px;
  margin: 0 20px;
  margin-top: -45px;

  background-color: #000000;
  opacity: 0.6;

  // &::before {
  //   position: absolute;
  //   content: "";
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%);
  //   width: 88%;
  //   height: 3px;
  //   background-color: #ffffff;
  //   opacity: 0.2;
  //
  //   @media (min-width: $tablet-width) {
  //     width: 60.4%;
  //     left: 44.5%;
  //   }
  // }
  //
  @media (min-width: $tablet-width) {
    min-height: 93px;

    margin: 0;
    margin-top: -93px;
  }
}

.video__range-control {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto;

  top: 21px;
  width: 88%;
  height: 3px;

  @media (min-width: $tablet-width) {
    top: 45px;
    width: 60.4%;
    right: 5.5%;
  }
}

.video__range-button {
  @include reset-button;

  position: absolute;
  top: -3px;
  left: 25%;

  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: -3px;
    left: 31.5%;
  }
}

.video__control-toggles-wrapper {
  min-height: 66px;
  margin: 0 20px;
  padding: 0 5%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #ededed;

  @media (min-width: $tablet-width) {
    margin: 0;

    background-color: transparent;
    margin-top: -76px;
  }
}

.video__control-button {
  @include reset-button;
}

.video__button-margin {
  margin-left: 52%;

  @media (min-width: $tablet-width) {
    margin-left: 75%;
  }
}

.video__button-icon {
  fill: #5c6870;

  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 1;

    fill: #ffffff;
  }
}
